<div class="container">
  <h2>Landing Page</h2>
  <div class="actions">
    <ul>
      <li><%= link_to "Add User", new_user_path %></li>
      <li><%= link_to "Show all users", users_path %></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
